/* font-family */
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* header styles */
/* nav styles */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 160px 24px 160px;
}
.nav_title{
    font-weight: bold;
    font-size: 32px;
    color:#0E0E0E;
}
.nav_btn {
    width: 116px;
    height: 52px;
    border: 1px solid #006A50; 
    background-color: #F5F5F5;
    color: #006A50;
    font-weight: 600;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 8px;
}
/* banner styles */
 .banner_small_title{
    font-weight: 500;
    font-size: 24px;
    color:rgba(14, 14, 14, 0.5);
    gap:16px;
} 
.banner_big_title{
    font-weight:bold;
    font-size: 56px;
    color: #0E0E0E;
    gap:24px;    
}
.banner_button{
    width: 270px;
    height: 56px;
    border: none;
    background-color: #006A50;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 117px;
}

.banner_pro_pic{
    width:474.03px;
    height:400px;    
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px; 
    background-color: #C6E4D6;
    padding:80px 100px;
    border-radius: 24px;
} 

.banner_content{
    max-width:622px;
} 

/* shared styles */
.shared_alignment{
    margin-left: 160px;
}

/* section_1 styles */
.technologies_container{
    display: flex;
    margin: 0px 160px 80px 160px;
    gap:24px; 
}
.technologies_title{
    font-size:40px;
    font-weight:bold;
    color:#0E0E0E;
}
.technology{
    padding: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    /* box-shadow: inset 0 0 0 1px rgba(14, 14, 14, 0.15); */
    border-radius: 16px;
    fill:#FFFFFF;
} 
.vision_title_1{
    font-size:40px;
    font-weight:bold;
    color:#0E0E0E;
    margin-bottom:24px;
}
.vision_description_1{
    margin-right:160px;
    font-size: 16px;
    font-weight:400px;
    color:#0E0E0E;
}
.vision_1{
    /* margin:24px; */
    padding:32px;
    border-radius:16px;
    background-color: rgba(84, 144, 245, 0.2);
}
.vision_button_2{
    background-color: #5490F5;
    color:#FFFFFF;
    font-weight:400px;
    width:122px;
    height:41px;
    border:none;
    border-radius: 8px;
}
.vision_2{
    /* margin:24px; */
    padding:32px;
    border-radius:16px;
    background-color: #C6E4D6;
}
.vision_button_3{
    background-color: #09A15C;
    color:#FFFFFF;
    font-weight:400px;
    width:122px;
    height:41px;
    border:none;
    border-radius: 8px;
}
.vision_3{
    /* margin:24px; */
    padding:32px;
    border-radius:16px;
    background-color: #F7EBCF;
}
.vision_button_4{
    background-color: #FFC239;
    color:#FFFFFF;
    font-weight:400px;
    width:122px;
    height:41px;
    border:none;
    border-radius: 8px;
}
.visions_container{
    display: flex;
    margin: 32px 160px 32px 0px; 
    gap:24px; 
}
.vision_description_2{
    /* margin-right:160px; */
    font-size: 16px;
    font-weight:400px;
    color:#0E0E0E;
}
.quote_container{
    background-image: url("../assets/quote-bg.png");
    padding: 48px 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    /* box-shadow: inset 0 0 0 1px rgba(14, 14, 14, 0.15); */
    border-radius: 16px;
    fill:#FFFFFF;
    margin-right:160px; 
    background-repeat: no-repeat;
    background-position: 24px 45px;   
}
.sig_person{
    font-size: 20px;
    font-weight:600px;
    color:rgba(14, 14, 14, 0.8);
    margin-bottom:0px;  
    line-height: 4px;     
}
.sig_designation{
    font-size: 16px;
    font-weight:400px;
    color:rgba(14, 14, 14, 0.6);
}
/* table designs */
table{
    /* max-width:100%; */
    /*height:345px;     */
    border-collapse: collapse;
    /* margin-right: 160px;  */
    margin: 32px; 
}
th{
    /* border: 1px solid black;  */
    max-width:1216px;
    padding: 24px;
    font-size:20px;
    font-weight: 600px;
    color: #0E0E0E;
    text-align: left;
    background-color: #C6E4D6; 
  } 


td{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding-left: 24px; 
    color: #0E0E0E;
    font-weight: bold;
    font-size: 16px;
    height: 92px;
}

.first_col_head_table{
    width: 85%;
}

.second_col_head_table{
    /* border-left: none;  */
    padding-left: 5px;
    /* width: 15%; */
    
}
.choice{
    background-color: #C6E4D6;
    border-radius: 4px;
    color:#0E0E0E;
    font-weight: bold;
    margin:24px;
    height: 44px;
    width:152px;
    font-size: 16px;
} 
/*
.table_container{
    background-color: red;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-right:32px; 
    border-radius:16px;
    opacity: 100%; 
    width:1280px; 
    height:409px; 
    margin: 0px 160px 80px 160px;
}*/

.table_container{
  /* height:409px; */
  height:auto;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-right:160px;
  /* margin: 0px 160px 80px 0px; */
  padding:32px; 
  /* margin-bottom:80px; */
  border-radius: 16px;
} 

button:hover{
    background-color:aqua;
}

.news_image{
    width:408px;
    height:306px; 
    /* height:auto; */
    border-radius: 24px;
    /* margin-bottom: 12px; */
}
.news_image_corder{
    border-radius: 24px;
}

.news_title{
    font-size:40px;
    font-weight:bold;
    color:rgba(14, 14, 14, 0.8);
    margin-bottom:12px;
}

.spaced-sentence{
    margin-right: 12px;
}
.news_title_2{
    font-weight: 400px;
    color:rgba(14, 14, 14, 0.7);
}
.news_button{
    padding:13px;
    border-radius:8px;
    background-color: #006A50;
    color:#FFFFFF;
    font-weight: 600px;
    font-size: 18px; 
    border:none;
    margin-bottom: 44px;
}

.news_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height:290px;
    /* margin:56px 0px;    */
    margin:48px;
}
.news_description{
    margin-left: 32px;
}
/* .news_1{
    margin-bottom: 12px;
}
.news_2{
    margin-bottom: 12px;
} */
.news_1, .news_2 {
    margin-bottom: 12px;
}
.news_container_reverse{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height:290px;
    margin:48px;
}
.donate_title{
    font-size:40px;
    font-weight:bold;
    color:#0E0E0E;
    margin-top:80px;
    width:1280px;
    text-align: center;
}
.donate_description{
    margin-right:160px;
    margin-top: 24px;
    font-size: 16px;
    font-weight:400px;
    color:rgba(14, 14, 14, 0.7);
    text-align: center;
    
}

/* .donate_btn_1{
    padding:13px;
    border-radius:8px;
    background-color: #006A50;
    color:#FFFFFF;
    font-weight: 600px;
    font-size: 18px; 
    border:none;
    margin-bottom: 44px;
} */
.donate_btn_1, .donate_btn_2, .donate_btn_3, .donate_btn_4 {
    width:auto;
    padding:40px;
    background-color: #FFFFFF;
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
    font-size:40px;
    border:none;
    opacity: 100%;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    /* margin-right: 24px; */
}
.donate_btn_1:hover,
.donate_btn_2:hover,
.donate_btn_3:hover,
.donate_btn_4:hover {
    background-color: #C6E4D6;
}

.donate_container{
    max-width:1280px;
    gap: 24px;
    display:flex;
    margin: 32px 104.5px 32px 104.5px;
}

.donate_input_div{
    max-width: 1032px;
    height: 64px;
    background-color: #FFFFFF;
    margin: 32px 124px 32px 124px;
    border:none; 
    opacity: 100%;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
    /* color:rgba(14, 14, 14, 0.3); */
    /* border:none; */    
}

.donate_input{
    font-size: 20px;
    font-weight: 500px;
    padding: 20px 422.5px;
    width: 187px;
    border:none;
    color: rgba(14, 14, 14, 0.3);
}

.donate_button{
    padding:13px;
    border-radius:8px;
    background-color: #006A50;
    color:#FFFFFF;
    font-weight: 600px;
    font-size: 18px; 
    border:none;
    margin-left:564.5px;
    /* margin-bottom: 80px; */
}

.subscribe_container{
    max-width: 1280px;
    height: 395px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-top:80px;
}
.subscribe_description_1{
    width: 622px;
}
.input_with_button {
    display:flex;
    gap: 0; 
}

.subscribe_description{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    /* max-width:750px; */
}
.subscribe_input{
    /* width: 600px; */
    padding: 18px 403px 18px 18px;
    border:none;    
}
.subscribe_button{
    /* width:150px; */
    padding: 17px 34px 17px 34px;
    border:none;
    background-color: #006A50;
    color: #FFFFFF;
}
.footer_container{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
    /* opacity: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
    margin-top: 80px;
}
.footer_title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.footer_line{
    width:1122px;
    color: rgba(14, 14, 14, 0.1);
}
.icons{
    display:flex;    
}

/* main styles */

/* footer styles */